################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/OfertasLaborales/.vs/OfertasLaborales/FileContentIndex/d32f55dc-41a5-4ae8-acae-b2093f314a14.vsidx
