# Ignorar la carpeta .vs (archivos generados por Visual Studio)
.vs/

# Ignorar archivos de configuración del sistema y otros archivos temporales
*.vsix
*.vscode
*.user
*.userosscache
*.suo
*.userprefs
*.dbmdl
*.bak

# Ignorar archivos de build
bin/
obj/
